/******************************************************************
Site Name:
Author:

Stylesheet: Alert Styles

If you want to use these alerts in your design, you can. If not,
you can just remove this stylesheet.

******************************************************************/



// alerts and notices
%alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

.alert-help {
  @extend %alert;
  border-color: darken($alert-yellow, 5%);
  background: $alert-yellow;
}

.alert-info {
  @extend %alert;
  border-color: darken($alert-blue, 5%);
  background: $alert-blue;
}

.alert-error {
  @extend %alert;
  border-color: darken($alert-red, 5%);
  background: $alert-red;
}

.alert-success {
  @extend %alert;
  border-color: darken($alert-green, 5%);
  background: $alert-green;
}

.sgconfirmation{
  display :none;
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: $green;
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  opacity: 1;
  transition: height 0.3s ease;
  height : inherit;

  &.inactive{
      display: none;
      height : 0;
  }
}