/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap{
  width: 1040px;
}

.wrap700{
	width: 700px;
}


.article-list{
	header{
		h2{
			height: 90px;
		}
	}
}


.archive{
	article{
		footer{
			.exerpt{
				height: 160px;
			}
		}
	}
}