/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1250px;
}

.blog,.archive {
	article{

		img{
		}

		&.article-list{
			header{
				h2{
					height: 90px;
				}
			}
		}
	}
}

.archive{
	article{
		footer{
			.exerpt{
				height: 120px;
			}
		}
	}
}